body {
    font-family: sans-serif;
    color: #707070;
}

nav input:checked+label {
    font-weight: bolder;
    color: #404040;
}

nav input {
    display: none;
}

nav label {
    cursor: pointer;
    font-weight: normal;
    margin-right: 35px;
}

nav {
    margin: 130px 0 60px 50%;
    font-size: 18px;

}

.images {
    width: 1140px;
    margin: 0 auto;
}
.images_big{
    height: 408px;
    margin-bottom: -5px;
}
.images_small {
    height: 285px; /*1140/4 */
}

.images_big img {
    width: 50%;
    height: 100%
}

.images_small img {
    width: 25%;
    height: 100%;
}

.images img:not(.img_last) {
    margin-right: -5px;
}

.expand {
    text-align: center;
    font-size: 20px;
    margin-top: 50px;
    font-weight: 600;
}

.expand span{
    cursor: pointer;
}

.what-i-do {
    width: 1140px;
    margin: 110px auto;
}

.what-i-do td {
    width: 50%;
    vertical-align: middle;
    padding: 0 100px;
}

.what-i-do td h2 {
    font-size: 50px;
    text-align: center;
    font-weight: normal;
    margin: 0;
}

.what-i-do__content {
    border-left: #404040 1px solid;
}
