body {
    font-family: sans-serif;
    color: #707070;
}

nav input:checked+label {
    font-weight: bolder;
    color: #404040;
}

nav input {
    display: none;
}

nav label {
    cursor: pointer;
    font-weight: normal;
    margin-right: 35px;
}

nav {
    margin: 130px 0 60px 50%;
    font-size: 18px;

}

.images {
    width: 1140px;
    margin: 0 auto;
}
.images_big{
    height: 408px;
    margin-bottom: -5px;
}
.images_small {
    height: 285px; /*1140/4 */
}

.images_big img {
    width: 50%;
    height: 100%
}

.images_small img {
    width: 25%;
    height: 100%;
}

.images img:not(.img_last) {
    margin-right: -5px;
}

.expand {
    text-align: center;
    font-size: 20px;
    margin-top: 50px;
    font-weight: 600;
}

.expand span{
    cursor: pointer;
}

.what-i-do {
    width: 1140px;
    margin: 110px auto;
}

.what-i-do td {
    width: 50%;
    vertical-align: middle;
    padding: 0 100px;
}

.what-i-do td h2 {
    font-size: 50px;
    text-align: center;
    font-weight: normal;
    margin: 0;
}

.what-i-do__content {
    border-left: #404040 1px solid;
}
.switchers{
    width: 1140px;
    margin: 0 auto;
    position: relative;
}
.square {
    width: 35px;
    height: 35px;
    background-color: lightgrey;
    cursor: pointer;
}

.switchers__table {
    border-spacing: 0 60px;
    width: 588px;
    text-align: center;
    font-size: 22px;
    margin: 0;
    position: absolute;
    left: 552px;
    top: 0;
}

.square_active {
    background-color: grey;
}

.label_active {
    font-weight: bolder;
    color: #404040;
}

.switchers__img {
    width: 552px;
    display: inline-block;
    padding: 75px 75px 0 75px;
    box-sizing: border-box;
}

.switchers__img img {
    box-sizing: border-box;
    width: 400px;
}
.switchers__img h3{
    margin-top: 70px;
    text-align: center;
    color: #404040;
}

.about-me{
    width: 1140px;
    margin: 0 auto;
    padding-top: 200px;
}
.about-me__table td{
    width: 50%;
}
.about-me__h2{
    font-weight: normal;
    font-size: 50px;
    margin: 0;
    text-align: center;
    color: #404040;
    border-left: #404040 1px solid ;
    padding: 10px 0;
}
.about-me__img{
    width: 400px;
    margin-left: 75px;
}
.about-me__header{
    height: 90px;
    vertical-align: middle;
}
.about-me__text{
    vertical-align: text-top;
    padding: 75px 75px;
}
.contact{
    width: 1140px;
    margin: 0 auto;
    margin-top: 150px;
}
.contact__content{
    display: inline-block;
    width: 50%; 
}
.contact__header{
    font-size: 50px;
    padding: 10px 0;
    margin: 0;
    border-right: #404040 1px solid;
    text-align: center;
    color: #404040;
    font-weight: normal;
    margin-bottom: 100px;
}
.contact__content h4{
    margin: 0;
    margin-bottom: 5px;
    color: #404040;
}
.phone, .email{
    display: inline-block;
}
.phone{
    margin-right: 75px;
}
.address{
    margin-bottom: 25px;
}
.contact__form{
    width: 45%;
    display: inline-block;
    padding: 0 56px;
    font-weight: 600;
    font-size: 14px;
    color: #404040;
}
*{
    box-sizing: border-box;
}
.contact__form input[type=text], textarea{
    appearance: none;
    width: 100%;
    border: 0;
    background-color: #eee;
    resize: none;
    height: 25px;
    margin: 10px 0;
}
textarea{
    height: 130px;
}
input[type=submit]{
    appearance: none;
    border: 0;
    background: none;
    font-weight: 600;
    font-size: 14px;
    color: #404040;
    margin-left: 175px;
}
.copyright{
    font-weight: 600;
    font-size: 14px;
    color: #404040;
    margin-left: 300px ;
    margin-top: 100px;
}
